/* Toggle Screen */

/* #splash-scr {
  display: none;
} */

/* #game-scr {
  display: block !important;
} */

/* #end-game-scr {
  display: block !important;
} */

/* ---------General--------- */
body {
  font-family: 'Changa', sans-serif;
}


/* ---------Splash Screen--------- */
#splash-scr {
  position: relative;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.centered h2 {
  margin-top: 8rem;
}

.start-game-box {
  border: thick double black;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgb(253, 239, 220);
  /* background-image: url(../images/start-game-box-bkg.jpg); */
}


#splash-scr div {
  position: relative;
  z-index: 10;
}

#main-background {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hero-selection div {
  width: 8rem;
  display: inline-block;
  border: 1px solid white;
  text-align: center;
  background-color:rgb(253, 244, 232);
  border-radius: 10px;
}

.hero-selection img {
  width: 8rem;
}

.level-select {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.level-select input[type="radio"] {
  /* Hide the default radio button */
  display: none;
}

.level-select label {
  /* Custom styles for the radio button */
  display: inline-block;
  padding: 5px 10px;
  background-color: #eaeaea;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.level-select input[type="radio"]:checked + label  {
  /* Styles for the checked radio button */
  background-color: #2ecc71;
  color: #fff;
}

.hero-selection input[type="radio"] {
  /* Hide the default radio button */
  display: none;
}

.hero-selection label {
  cursor: pointer;
}

.hero-selection input[type="radio"]:checked + label {
  border: .0625rem solid rgb(28, 149, 38);
  border-radius:10px;
  margin-bottom: 0;
}

.intro-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#inputname {
  width: 60%;
  border-radius: 3px;
}

.name-credits-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
#inputname::placeholder {
  opacity: 0.5;
  font-size: 0.9rem;
}

.sub-heading {
  font-weight: 600;
}

.p-difficulty {
  margin-top: 1rem;
}

.start-credit-flex {
  display: flex;
  justify-content: space-around;
}
/* ---------Game Screen--------- */

/* Ready to Type Button */

.ready-button {
  position: absolute;
  text-align: center;
  top: 15rem;
  left: 0;
  right: 0;
}

.btn-ready {
  font-size: 4rem;
  padding: 1rem 2rem;
  border: 5px solid white;
}

/* ---- Header ---- */
.header-1 {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #eaeaea;
}

.header-2 {
  display: flex;
  justify-content: space-around;
  padding: 0.4rem;
  background-color: antiquewhite;
}

.header-2 p {
  margin: 0;
}

.battle-screen img {
  width: 100%;
  height: 27rem;
  object-fit: cover;
  object-position: top;
  box-shadow: 0px 3px 6px 1px black;
}

.typing-screen {
  width: 90%;
  margin: 0 auto;
  border-left: 4mm ridge rgba(71, 72, 55, 0.6);
  border-right: 4mm ridge rgba(71, 72, 55, 0.6);
  height: 17.7rem;
  line-height: 2rem;
  padding: 1rem 1.5rem;
  font-size:1.1rem;
}

.star {
  width: 2rem;
}

/* ----End Header ---- */

/* font-size for the text in the paragraph */
span {
  font-size: 1.5rem;
}

#end-typing-sign {
  width: 1.5rem;
}

/* color the correct and incorrect letters*/
.correct {
  color: green;
}
.incorrect {
  color: red;
}

/* make cursor position blinking and has yellow background */
.cursorPosition {
  
  text-decoration: underline;
  animation: blink 0.8s infinite;
}

.cursorPosition-bkg {
  background-color: yellow; 
}

@keyframes blink {
  0% {
    text-decoration-color: transparent;
  }
  50% {
    text-decoration-color: black;
  }
  100% {
    text-decoration-color: transparent;
  }
}

/* Animation Attacks for both Heroes and Monster*/

/* Static image (png) - attack */
main {
  position: relative;
}

.battle-screen {
  position: relative;
}

.hero-attack-1 {
  position: absolute;
  animation: move-to-the-right 1000ms forwards;
  display: none;
  left: 3rem;
  top: 20rem;
}

@keyframes move-to-the-right {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(700px);
    opacity: 0.8;
  }
}

.hero-attack-1 img {
  width: 10rem;
  height: auto; 
}

#watergun img,
.hero-attack-2 img {
  width: 15rem;
  height: auto;
}

.hero-attack-2 {
  position: absolute;
  display: none;
}

#wave img {
  width: 20rem;
  z-index: 10;
}

#shadowball {
  position: absolute;
  top: 16.5rem;
}

#shadowball img {
  width: 13rem;
  height: auto;
}

.monster-attack {
  display: none;
  animation: move-and-roll 1.3s linear forwards;
}

@keyframes move-and-roll {
  0% {
    transform: translateX(1000px) rotate(0deg);
  }
  100% {
    transform: translateX(100px) rotate(360deg);
    opacity: 0.8;
  }
}
/* GIFs */

.spelling {
  position:absolute;
  display: none;
  top: 17rem;
}

.monster-hurt {
  position:absolute;
  display: none;
  right: 3rem;
  top: 13rem;
}

.monster-standing {
  position:absolute;
  right: 3rem;
  top: 13rem;
}

.spelling img {
  width: 18rem;
  height: auto;
}

.monster-hurt img,
.monster-standing img {
  width: 22rem;
  height: auto;
}

#water-spelling,
#water-standing,
#water-shaking {
  left: 3rem;
}

#water-spelling img,
#water-standing img,
#water-shaking img {
  width: 13rem;
}

#inferno {
  right: 5rem;
  z-index: 10;
  top: 13rem;
}

#solarbeam {
  left: 18rem;
  z-index: 10;
  top: 16rem;
}

#solarbeam img {
  width: 40rem;
  height: 15rem;
}

.hero-standing,
.hero-hurt {
  position: absolute;
  top: 17rem;
}

.hero-hurt {
  display: none;
}

.hero-standing img,
.hero-hurt img {
  width: 18rem;
  height: auto;
}

/* HP bar & Gauge bar with animation*/
.hero-hp-bar p {
  color: rgb(40, 253, 7);
  font-size: 1rem;
  position: absolute;
  top: 12rem;
  left: 3rem;
}

.hero-hp-bar span,
.monster-hp-bar span {
  font-size: 1.1rem;
  color: white;
}
.progress-hero {
  position: absolute;
  top: 13.8rem;
  left: 3rem;
  width: 13%;
}

.progress {
  outline: 2px solid white;
  border-radius: 0;
  background-color: transparent;
}
.progress-bar {
  background-color: #03c253;
}

.progress-monster,
.gauge {
  position: absolute;
  width: 14%;
  right: 8rem;
  top: 12.8rem;
}

.gauge {
  top: 14rem;
  display: none;
}

.gauge-bar {
  background-color: rgb(173, 10, 10);
  text-align: left;
}

.monster-hp-bar p {
  position: absolute;
  right: 15rem;
  top: 11rem;
  color:rgb(40, 253, 7);
}

.blinking-gauge {
  animation: blinkingBackground 2s infinite;
}
@keyframes blinkingBackground{
  0%		{ background-color: rgb(173, 10, 10);}
  25%		{ background-color: rgba(173, 10, 10, 0.344);}
  50%		{ background-color: rgb(208, 15, 15);}
  75%		{ background-color: rgba(173, 10, 10, 0.344);}
  100%	{ background-color: rgb(173, 10, 10);}
}

/* ---------End Game Screen--------- */

/* Win - Lose - Unvailable Sign */
#end-game-scr {
  position: relative;
}

.hero-win,
.hero-lose {
  display: none;
}

.fire-win,
.fire-lose {
  width: 19rem;
}

.water-win,
.water-lose {
  width: 13rem;
}

.leaf-win,
.leaf-lose {
  width: 16rem;
}

#unvailable-icon {
  width: 15rem;
  display: none;
}